# Dependencies
node_modules/

# Distribution directory
dist

# Hidden directories
.*/**

# Ignore files
.*ignore

# Images directory
images/

# License
LICENSE

# Log files
*.log

# Operating System
.DS_Store
Thumbs.db

# Package files
yarn.lock

# Readme file
README.md

# Run Command files
.*rc
