# Artwork
*.fig
*.psd
*.sketch

# Dependencies
node_modules

# Distributed version
dist

# Hidden directories
.*/**

# Ignore files
.*ignore

# Images
images

# License
LICENSE

# MacOS
.DS_Store

# Package files
yarn.lock

# Readme
README.md

# Run Command files
.*rc
